:root {
  --theme-colour: #2196F3;
  --text-primary: #212121;
  --text-secondary: #757575;
  --primary-font: "Roboto";
  --secondary-font: "Raleway";
}

body {
  font-family: var(--primary-font);
}

ul, li {
  list-style: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

h1, h2, h3, p {
  margin: auto;
}

img {
  display: block;
  margin: 0;
}

ul, li {
  padding: 0px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.head {
  border-bottom: 1px solid #ECECEC;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0px;
  top: 80px;
}

.logo {
  font-family: var(--secondary-font), sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-right: 331px;
}

.nav {
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.web-style {
  color: var(--theme-colour);
}

.studio-style {
  color: #000000;
}

.nav__items:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--theme-colour);
}

.active-page {
  color: var(--theme-colour);
}

.active-page::after {
  content: "";
  display: block;
  position: relative;
  top: 30px;
  bottom: auto;
  width: 100%;
  height: 4px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: var(--theme-colour);
}

.link-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.link-box__card-icon {
  fill: var(--text-secondary);
  margin-right: 10px;
}

.link-box__mail,
.link-box__phone {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-box__mail:hover .link-box__card-icon,
.link-box__mail:focus .link-box__card-icon,
.link-box__phone:hover .link-box__card-icon,
.link-box__phone:focus .link-box__card-icon {
  fill: var(--theme-colour);
}

.link-box__mail:hover, .link-box__mail:focus,
.link-box__phone:hover,
.link-box__phone:focus {
  color: var(--theme-colour);
}

.link-box__mail {
  margin-right: 50px;
}

.hero-box {
  height: 600px;
  background: #2F303A;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background_image.jpg);
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background_image.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background_image.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background_image.jpg);
  max-width: 1600px;
}

.hero-box__slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  padding-top: 200px;
  margin-bottom: 30px;
}

.hero-box__button {
  width: 200px;
  height: 50px;
  background: var(--theme-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: auto;
  display: block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-box__button:hover {
  background-color: #188CE8;
}

.work-tools {
  padding-bottom: 94px;
  padding-top: 94px;
}

.work-tools__list {
  width: 270px;
  height: 120px;
}

.work-tools__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-tools__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.work-tools__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.work-tools__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

.specification {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specification__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.specification__list {
  width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.specification__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
}

.specification__text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 1401px;
}

.team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__name {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.team__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.team__card {
  margin-bottom: 30px;
}

.team__member-specification {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}

.team__social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}

.link-icon:hover, .link-icon:focus {
  background-color: var(--theme-colour);
}

.link-icon:hover .social-icon,
.link-icon:focus .social-icon {
  fill: #FFFFFF;
}

.social-icon {
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers__name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.regular-customers__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.regular-customers__list {
  width: 170px;
  height: 92px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.regular-customers__link {
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__link:hover, .regular-customers__link:focus {
  border-color: var(--theme-colour);
  fill: var(--theme-colour);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  font-family: var(--secondary-font), sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer__box {
  margin-bottom: 9px;
}

.footer__box:last-child {
  margin-bottom: 0;
}

.footer__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  margin-right: 62px;
}

.footer__links-name {
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.location {
  color: #FFFFFF;
}

.in-footer {
  margin-left: 0px;
}

.in-foot {
  fill: #FFFFFF;
}

.foot {
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.footer__logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__studio-style {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__web-style {
  font-family: var(--secondary-font), sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--theme-colour);
}

.footer__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form__input-name {
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.footer__input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #2F303A;
  padding-left: 16px;
  color: #FFFFFF;
}

.form__subscribe {
  width: 200px;
  height: 50px;
  background: var(--theme-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__sub-ico {
  margin-left: 10px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  opacity: 2;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 40px;
}

.modal__close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 8px;
  top: 8px;
  -webkit-transform: translate(482px, 2px);
      -ms-transform: translate(482px, 2px);
          transform: translate(482px, 2px);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: #2196F3;
}

.modal__close-icon {
  left: 22.22%;
  right: 16.67%;
  top: 16.67%;
  bottom: 22.22%;
  width: 9px;
  height: 9px;
  fill: var(--text-primary);
}

.modal-text {
  width: 448px;
  height: 23px;
  left: 576px;
  top: 261px;
  margin-bottom: 12px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  color: var(--text-secondary);
  font-size: 12px;
  position: relative;
}

.form__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--theme-colour);
  outline: none;
}

.form__input:focus + svg,
.form__input:hover + svg {
  fill: var(--theme-colour);
}

.form__messege {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__messege:focus, .form__messege:hover {
  border: 1px solid var(--theme-colour);
  outline: none;
}

.form__messege::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__messege:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__messege::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__messege::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: 14px;
  margin-top: -35px;
}

.policy-box {
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.policy-box::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-primary);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-right: 7px;
}

.policy-box a {
  color: var(--theme-colour);
  text-decoration: underline;
}

.policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-checkbox:checked + .policy-box::before {
  background-color: var(--theme-colour);
  background-image: url(../img/policy.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.policy-checkbox:hover + .policy-box::before {
  outline: 2px solid var(--theme-colour);
  border: none;
}

.submit-button {
  width: 200px;
  height: 50px;
  background: var(--theme-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5em;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.submit-button:focus, .submit-button:hover {
  background-color: #188CE8;
}

.portfolio-box {
  padding-bottom: 89px;
  padding-top: 99px;
  margin-bottom: 34px;
}

.buttons__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.buttons__item {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  margin-right: 5px;
  padding-left: 22px;
  padding-right: 22px;
  height: 38px;
  background: #F5F4FA;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__item:hover, .buttons__item:focus {
  background-color: var(--theme-colour);
  color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.project__list {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
  margin-right: 30px;
}

.project__list:focus, .project__list:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__list:nth-child(3n+3) {
  margin-right: 0px;
}

.description {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description__box {
  position: relative;
  overflow: hidden;
}

.description__text {
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 24px 63px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description:hover .description__text {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.description:focus .description__text {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project__text {
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
}

.project__name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-primary);
}

.project__work {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}
/*# sourceMappingURL=main.css.map */