.work-tools{ 
        padding-bottom: 60px;
        padding-top: 60px;

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.work-tools__box{

    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
    }
}

.work-tools__list{
    height: 120px;
    margin-bottom: 135px;
    width: 100%;
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        flex-wrap: wrap;
        display: inline-flex;
        &:nth-child(2n+1) {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        &:nth-child(2n+1) {
            margin-right: 0px;
        }
    }
}


.work-tools__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 320px) {
        
    }

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1200px) {
        
    }
}

.work-tools__name{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-primary);
    margin-bottom: 10px;
    @media screen and (min-width: 320px) {
        text-align: center;
        font-size: 14px;
        line-height: 1.1em;
    }

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.work-tools__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:  var(--text-secondary);

    @media screen and (min-width: 320px) {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    @media screen and (min-width: 768px) {
        
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}