body {font-family: var(--primary-font);
}

ul,li {
    list-style: none;
    margin: 0px;
}

a {text-decoration: none;}

address {font-style: normal;}

h1,h2,h3,p {
    margin: auto;
}

img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
}

ul,li {
    padding: 0px;
}

h2 {
    font-weight: bold;
    color: var(--text-primary);
    font-family: var(--primary-font);
    
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;         
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1600px;

    @media screen and (min-width: 1200px) {
        width: 1200px;        
    }       
}